body {
  background-image: url("/bg.png");
  background-repeat: repeat;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#container {
  width: 1080px;
  margin: 0px auto;
  background-color: #eceeff;
}

#logo {
  height: 60px;
  background-image: url("/bg-header.png");
  background-repeat: repeat;
}

#logo h1 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 19.8px;
  padding: 20px;
  color: #F2F2F2;
}

#nav-bar {
  height: 60px;
  background-image: url("/bg-header.png");
  background-repeat: repeat;

}

#nav-bar ul {
  margin: 0 20px;
  padding: 0;
  text-decoration: none;
}

#nav-bar li {
  height: 60px;
  display: block;
  float: left;
}
#nav-bar li a{
  display: block;
  font-weight:bold;
  text-decoration: none;
  padding: 20px;
  height: 20px;
  color: #f2f2f2;
}

#nav-bar li a:hover {
  background-color: #F2F2F2;
  font-weight:bold;
  color: #006699;
}
#left-side {
  width: 260px;
  height: 600px;
  float: left;
}

#search-box {
  margin-top: 20px;
  height: 400px;
  background-color: #48484a;
}

#right-side {
  width: 820px;
  float: right;
}

#right-side-inner {
  height: 600px;
  margin: 20px;
}

.apartment {
  min-height: 220px;
  background-color: #C9C6C4;
  margin-bottom: 20px;
}

.apartment .img {
  width: 180px;
  height: 180px;
  background-color: #A6A4A2;
  float: left;
  margin: 20px;
}

.apartment .description-content {
  width: 540px;
  min-height: 180px;
  background-color: #C9C6C4;
  margin-left: 200px;
  margin-top: 20px;
  margin-right: 20px;
  padding: 20px 0;
}

.apartment .description-content h3 {
  margin: 0;
  padding: 0;
}

.apartment .description-content p {
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 0;
}

.apartment .city {
  font-size: 14px;
}

.apartment .price p {
  text-align: right;
  padding-right: 5px;
  font-size: 20px;
  font-weight: bold;
  color: darkgreen;
}

.apartment .description {
  min-height: 70px;
  margin-left: -180px;
}

.apartment p.additional-info {
  font-size: 16px;
  margin-left: -180px;
  margin-top: 20px;
  font-weight: bold;
}

.apartment .additional-description {
  margin-top: 20px;
  margin-left: -180px;

}

.apartment .button {
  text-align: center;
  margin-left: 2px;
}

.apartment .place-button {
  height: 41px;
  margin-bottom: 20px;
}

.addapartment label{
  display: block;
}

.addapartment input{
  height: 25px;
  width: 260px;
}

.addapartment textarea {
  height: 200px;
  width: 600px;
}

.button{
  float: right;
  width: 150px;
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #FFFFCA;
  background-color: #303141;
  margin-top: 20px;
  cursor: pointer;
}

.button a{
  text-decoration: none;
  color: #FFFFCA;
}

#footer {
  height: 40px;
  background-color: black;
  margin-top: 40px;
}

.clear {
  width: 0;
  height: 0;
  overflow: hidden;
  clear: both;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 40%;
  right: 40%;
  top: 45%;
  bottom: 45%;
  margin: auto;
  border-radius: 20px;
  background: white;
  font-size: 10px;
  padding: 10px;
}

#search-box .row-search {
  margin-top: 7px;
}

#search-box-inner {
  margin: 7px 12px;
  padding-top: 15px;
}


#search-box .row-search input.input-search {
  width: 213px;
  height: 38px;
  border-radius: 4px;
  border: #ccc 1px solid;
  padding: 0 .857em;
}